<h1>All Businesses</h1>

<h2>By Category</h2>
<% @businesses.categories.each do |category, businesses| %>
	<h3> <%= category %> </h3>
	<% businesses.each do |business| %>
		<h4><%= link_to business.name, business %> </h4>
		<h4><%= business["address"] %></h4>
	  <h4><%= business["city"] %></h4>
	  <h4><%= business["state"] %></h4>
	 <% end %>
<% end %> 


<h2>By Employee Count</h2>
	<% @by_employees.each do |business| %>
		<h3><%= link_to business.first.name, business.first %>
		# of employees: <%= business.first.users.uniq.count %> </h3>
		<h4><%= business.first["address"] %></h4>
	  <h4><%= business.first["city"] %></h4>
	  <h4><%= business.first["state"] %></h4>
	<%end%>
