<h1> <%= @business.name %></h1>

<% @positions.each do |position, total|%>
	<%= position %>s: <%= total %>
	</br>
<% end %>

<% @business.users.uniq.each do |user|%>
	<h2> <%= user.name %> </h2>
	<% user.jobs.each do |job|%> 
		<% if job.business_id == @business.id %>
			<h3> <%= job.position %> </h3>
		<% end %>
	<% end %>
<% end %>



