<h1> <%= @business.name %></h1>

<% @positions.each do |position, total|%>
	<%= position %>s: <%= total %>
	</br>
<% end %>

<% @business.users.uniq.each do |user|%>
	<h2> <%= user.name %> </h2>
	<% user.jobs.each do |job|%> 
		<% if job.business_id == @business.id %>
			<h3> <%= job.position %> </h3>
			<%= binding.pry %>
			<%= link_to 'Edit Job', edit_job_path(id: job.id) %>
		<% end %>
	<% end %>
<% end %>


	<%= link_to "Add Job", new_job_path(business_id: @business.id) %>




