
<%= form_for(@job) do |f| %>
	<div>
		<%= f.label :position %>
		<%= f.text_field :position %>
	</div>
	<div>
		<%= f.label :start_date %>
		<%= f.text_field :start_date %>
	</div>
	<div>
		<%= f.label :end_date %>
		<%= f.text_field :end_date %>
	</div>
	<%= hidden_field_tag 'user_id', current_user.id %>
		<%= hidden_field_tag 'business_id', @business.id %>
	<div>
		<% if @job.id != nil %>
			<%= f.submit "Update Resume" %>
		<% else %>
			<%= f.submit "Add to resume" %>
		<% end %>
	</div>
<% end %>

<% if @job.id != nil %>
<%= link_to 'Delete Job', @job, method: :delete, data: { confirm: "Are you sure you want to remove this job from your resume?" } %>
<% end %>