
<div class="search-users-field">
	<% form_tag users_path, :method => 'get' do %>
	  <p>
	    <%= text_area_tag :search, params[:search] %>
	    <%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>
</div>

<%= form_for users_path do |f| %>
	<div>
		<%= f.label :user %>
		<%= f.text_field :business_name, placeholder: "#{current_user.name}'s Diner" %>
	</div>
	<div>
		<%= f.label :city, "City, State" %>
		<%= f.text_field :city, placeholder: "#{current_user.city_state}" %>
	</div>
	<div>
		<%= f.submit "Search" %>
	</div>
<% end %>













<div class="user-items-container">

	<% @users.each do |user|%>
		<div class="user-item-container">
		<h2><%= link_to user.name, user %></h2>
		<h3><%= user.email %></h3>
			<% if user != current_user && user.friends.include?(current_user) == nil %>
				<h3> <%= link_to "Add Friend", friendships_path(friend_id: user.id), method: :post %> </h3>
			<% end %>
			<% if user.friends.include?(current_user) != nil %>
				<h3> <%= link_to "Remove Friend", friendships_path(friend_id: user.id), method: :delete %> </h3>
			<% end %>
		</div>
	<% end %>
</div>

	