<h1> Landing Page </h1>
<% if current_user %>
	<h2><%= current_user.name %></h2>
	<h3>Email: <%= current_user.email %> </h3>
	<h3>Work Experience:</h3>
			<% current_user.jobs.each do |job| %>
			<h4> <%= job.business.name %>	</h4>	
			<h4> <%= job.position %> </h4>
			<h4> <%= job.start_date.strftime("%m/%d/%Y") %> to <%= job.end_date.strftime("%m/%d/%Y") %></h4>		
			<% end %>

	<button id="add-work">Add Work History</button>

	<div class="search-fields">
		<%= form_tag() do %>
			<h4>Business
			<%= text_field_tag 'search'%></h4>
			<h4>City
			<%= text_field_tag 'location'%></h4>
			<%= submit_tag 'Search' %></div>
		<% end %>
	</div>

<div class="search-results">
	<% results = @client.search_venues(:ll => '36.142064,-86.816086', :query => 'Starbucks') %>
	<% places = results.first[1].first["items"] %>

	<% places.each do |place| %>
	  <h3><%= place["name"]  %></h3>
	  <h4><%= place["location"]["address"] %></h4>
	  <h4><%= place["location"]["city"] %></h4>
	  <h4><%= place["location"]["state"] %></h4>

		<%= button_to 'Add to resume', { controller: "businesses", action: "add_from_search", business: place,   method: :post} %>
	<% end %>
</div>








<% else %>
	<%= "Please Sign Up" %>
<% end %>
