<h1> Landing Page </h1>
<% if current_user %>
	<h2><%= current_user.name %></h2>
	<h3>Email: <%= current_user.email %> </h3>
	<h3>Work Experience:</h3>

		<% current_user.jobs.each do |job| %>	
			<h4><%= link_to (job.business.name + ": " + job.business.city + ", " + job.business.state), job.business %> </h4>
			<h4> <%= job.position %> </h4>
			<h4> <%= job.start_date.strftime("%m/%d/%Y") %> to <%= job.end_date.strftime("%m/%d/%Y") %></h4>
			<h5><%= link_to 'Edit', edit_job_path(job) %></h5>		
		<% end %>


	<div class="search-fields">
		<%= link_to "Add Work History", new_search_path %>
	</div>







<% else %>
	<%= "Please Sign Up" %>
<% end %>
