<h1>Search Results</h1>

<% @search.businesses.each do |business| %>
  <h3><%= business["name"]  %></h3>
  <h4><%= business["address"] %></h4>
  <h4><%= business["city"] %></h4>
  <h4><%= business["state"] %></h4>

		<%= link_to "Add Job", new_job_path(business_id: business.id) %>

	<%#= button_to 'Add to resume', { controller: "jobs", action: "new", company: business,   method: :get} %>

			<%#= link_to "Add Work History", new_search_path %>
<% end %>