

<!DOCTYPE html>
<html ng-app="fourWorkApp">
<head>
  <title>Conectup</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= render 'layouts/navbar' %>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="page-body">
    <%= yield %>
  </div>
 
</body>
</html> 